@media (max-width: 1000px) {
    #HeroVid{
        width: 900px;
    }
    #subtext{
        white-space: inherit;
        text-align: center;
    }
}

@media (max-width: 900px) {
    #HeroVid{
        width: 800px;
    }
}

@media (max-width: 800px) {
    #HeroVid{
        width: 700px;
    }
}

@media (max-width: 700px) {
    #HeroVid{
        width: 600px;
    }
    #subtext{
        top: 75%;
    }
}

@media (max-width: 600px) {
    #HeroVid{
        width: 500px;
    }
    #subtext{
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    #HeroVid{
        width: 400px;
    }
}

@media (max-width: 400px) {
    #HeroVid{
        width: 300px;
    }
}

@media (max-width: 300px) {
    #HeroVid{
        width: 200px;
    }
}

@media (max-width: 200px) {
    #HeroVid{
        width: 100px;
    }
}

@media (max-width: 100px) {
    #HeroVid{
        width: 50px;
    }
}

@media (max-height: 720px) {
    #HeroVid{
        top: 40%;
    }
}

@media (max-height: 600px) {
    #HeroVid{
        top: 40%;
        width: 500px;
    }
    #subtext{
        top: 75%;
    }
}

@media (max-height: 450px) {
    #HeroVid{
        top: 40%;
        width: 400px;
    }
    #subtext{
        top: 75%;
        font-size: 15px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 15px;
    }
}

@media (max-height: 350px) {
    #HeroVid{
        top: 40%;
        width: 300px;
    }
    #subtext{
        top: 72%;
        font-size: 13px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 12px;
        width: 120px;
    }
}

@media (max-height: 300px) {
    #HeroVid{
        top: 40%;
        width: 200px;
    }
    #subtext{
        top: 70%;
        font-size: 12px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 12px;
        width: 120px;
    }
}

@media (max-height: 250px) {
    #HeroVid{
        top: 40%;
        width: 200px;
    }
    #subtext{
        top: 70%;
        font-size: 10px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 10px;
        width: 100px;
    }
}

@media (max-width: 550px) {
    #Nav{
        width: 400px;
    }
    .NavItem{
        font-size: 15px;
    }
    svg {
        width: 18px;
    }
}