@media (max-width: 1000px) {
    #HeroVid{
        width: 900px;
    }
    #subtext{
        white-space: inherit;
        text-align: center;
    }
}

@media (max-width: 900px) {
    #HeroVid{
        width: 800px;
    }
}

@media (max-width: 800px) {
    #HeroVid{
        width: 700px;
    }
}

@media (max-width: 700px) {
    #HeroVid{
        width: 600px;
    }
    #subtext{
        top: 75%;
    }
}

@media (max-width: 600px) {
    #HeroVid{
        width: 500px;
    }
    #subtext{
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    #HeroVid{
        width: 400px;
    }
}

@media (max-width: 400px) {
    #HeroVid{
        width: 300px;
    }
}

@media (max-width: 300px) {
    #HeroVid{
        width: 200px;
    }
}

@media (max-width: 200px) {
    #HeroVid{
        width: 100px;
    }
}

@media (max-width: 100px) {
    #HeroVid{
        width: 50px;
    }
}

@media (max-height: 720px) {
    #HeroVid{
        top: 40%;
    }
}

@media (max-height: 600px) {
    #HeroVid{
        top: 40%;
        width: 500px;
    }
    #subtext{
        top: 75%;
    }
}

@media (max-height: 450px) {
    #HeroVid{
        top: 40%;
        width: 400px;
    }
    #subtext{
        top: 75%;
        font-size: 15px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 15px;
    }
}

@media (max-height: 350px) {
    #HeroVid{
        top: 40%;
        width: 300px;
    }
    #subtext{
        top: 72%;
        font-size: 13px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 12px;
        width: 120px;
    }
}

@media (max-height: 300px) {
    #HeroVid{
        top: 40%;
        width: 200px;
    }
    #subtext{
        top: 70%;
        font-size: 12px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 12px;
        width: 120px;
    }
}

@media (max-height: 250px) {
    #HeroVid{
        top: 40%;
        width: 200px;
    }
    #subtext{
        top: 70%;
        font-size: 10px;
    }

    .NavItem{
        font-size: 15px;
    }

    #StartButton{
        font-size: 10px;
        width: 100px;
    }
}

@media (max-width: 550px) {
    #Nav{
        width: 400px;
    }
    .NavItem{
        font-size: 15px;
    }
    svg {
        width: 18px;
    }
}

@media (max-width: 1410px) {
    #AboutTitle{
        font-size: 90px;
    }
}

@media (max-width: 1250px) {
    #AboutTitle{
        font-size: 100px;
        width: 70vw;
        white-space: inherit;
        top: 15%;
    }
}

@media (max-width: 1060px) {
    #AboutTitle{
        font-size: 100px;
        width: 80vw;
        white-space: inherit;
    }
}

@media (max-width: 930px) {
    #AboutTitle{
        font-size: 90px;
        width: 90vw;
        white-space: inherit;
    }
}

@media (max-width: 740px) {
    #AboutTitle{
        font-size: 70px;
        width: 90vw;
        white-space: inherit;
        top: 20%;
    }
}

@media (max-width: 580px) {
    #AboutTitle{
        font-size: 60px;
        width: 90vw;
        white-space: inherit;
    }
    #AboutText{
        top: 45%;
    }
}

@media (max-width: 500px) {
    #AboutTitle{
        font-size: 50px;
        width: 90vw;
        white-space: inherit;
        top: 18%;
    }
    #AboutText{
        top: 40%;
    }
}

@media (max-width: 420px) {
    #AboutTitle{
        font-size: 40px;
        width: 90vw;
        white-space: inherit;
        top: 18%;
    }
}

@media (max-width: 330px) {
    #AboutTitle{
        font-size: 30px;
        width: 90vw;
        white-space: inherit;
        top: 18%;
    }
}

@media (max-width: 250px) {
    #AboutTitle{
        font-size: 20px;
    }
}

@media (max-width: 770px) {
    #AboutText{
        width: 60vw;
    }
}

@media (max-width: 475px) {
    #AboutText{
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    #AboutText{
        width: 80vw;
    }
}

@media (max-width: 500px) {
    #ButtonIntro{
        top: 75%;
        font-size: 15px;
    }
}

@media (max-width: 440px) {
    #ButtonIntro{
        width: 70vw;;
    }
}

@media (max-height: 850px) {
    #ButtonIntro {
        top: 80%;
    }
    #AboutButtons{
        top: 88%;
    }
}

@media (max-height: 830px) {
    #AboutTitle{
        font-size: 70px;
    }
}

@media (max-height: 650px) {
    #AboutText{
        width: 70vw;
        font-size: 17px;
        top: 55%;
    }
    #ButtonIntro {
        top: 77%;
        font-size: 15px;
    }
}

@media (max-height: 520px) {
    #AboutTitle{
        font-size: 50px;
        top: 25%;
    }
    #AboutText{
        top: 45%;
    }
}

@media (max-height: 450px) {
    #ButtonIntro {
        top: 70%;
    }
    #AboutButtons {
        top: 85%;
    }
}

@media (max-height: 380px) {
    #AboutTitle {
        font-size: 50px;
        width: 100vw;
    }
    #AboutText {
        font-size: 15px;
    }
    #ButtonIntro {
        font-size: 12px;
        top: 75%;
    }
    #AboutButtons{
        top: 82%;
    }
}

@media (max-width: 380px) {
    #AboutTitle {
        font-size: 50px;
        width: 100vw;
    }
    #AboutText {
        font-size: 15px;
        top: 45%;
    }
    #ButtonIntro {
        font-size: 12px;
        top: 75%;
    }
    #AboutButtons{
        top: 82%;
    }
}

@media (max-width: 600px) {
    #AboutTitle{
        font-size: 60px;
        top: 18%;
    }
    #AboutText {
        top: 50%;
        width: 80vw;
    }
}

@media (max-width: 500px) {
    #AboutTitle{
        font-size: 50px;
        top: 18%;
    }
    #AboutText {
        top: 50%;
        width: 80vw;
    }
}

@media (max-width: 415px) {
    #AboutTitle{
        font-size: 40px;
        top: 18%;
    }
    #AboutText {
        top: 45%;
        width: 80vw;
        font-size: 15px;
    }
}